<h2>Most Recent Posts</h2>

<section class="post">
    {{#each post}}
    <article>
        <h3 class="title">{{title}}</h3>
        <h4 class="publishingInfo">{{author}}, {{publishDate}}</h4>
        <p class="body">{{body}}</p>
        <footer class="footer">{{category}}, {{tag}}</footer>
    </article>
    {{else}}
        <p class="empty">No content</p>
    {{/each}}
</section>
<a href="/">Go Back</a>